<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome home</title>
    <!-- <style>
      h1 {
        color: blue; /* Define a cor do título h1 como azul */
      }
      p {
        font-size: 18px; /* Define o tamanho da fonte do parágrafo como 18 pixels */
        color: green; /* Define a cor do texto do parágrafo como verde */
      }
    </style> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  
  <body>
    <h1>Home Page</h1>
    <p>This is the home page of our application.</p>
  </body>
</html>
